/* Application wide styles */

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover{
    -fx-base: #395bae;
}

/* Component specific styles */


.main-panel {
    -fx-background-image: url("../images/background.jpg");
}

.hello-message {
    -fx-text-fill: #AA0000;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}







.vflow-background {
    -fx-background-color: linear-gradient(to bottom, rgb(10,32,60), rgb(42,52,120));
}

.window {
    -fx-background-color: rgba(120,140,255,0.2);
    -fx-border-color: rgba(120,140,255,0.42);
    -fx-border-width: 2;
}

.vnode-connector {
    -fx-background-color: rgba(0,0,0,0.75);
    -fx-stroke: rgba(120, 140, 255, 0.42);
    -fx-border-width: 2px; 
    -fx-border-color: rgba(120, 140, 255, 0.72);
    -fx-shape: "m 187.92089,378.88528 a 12.94066,12.94066 0 0 1 -12.94067,12.94066 12.94066,12.94066 0 0 1 -12.94066,-12.94066 12.94066,12.94066 0 0 1 12.94066,-12.94066 12.94066,12.94066 0 0 1 12.94067,12.94066 z"
}


.vnode-connector-control {
    -fx-background-color: rgba(255,255,0,0.75);
    -fx-stroke: rgba(120, 140, 255, 0.42);
/*    -fx-border-color: rgba(255,255,0,0.75);*/
}

.vnode-connector-event {
    -fx-background-color: rgba(255,100,255,0.75);
    -fx-stroke: rgba(120, 140, 255, 0.42);
    /*-fx-border-color: rgba(255,100,255,0.75);*/
}

.vnode-connector-data {
    -fx-background-color: rgba(10,10,10,0.75);
    -fx-stroke: rgba(120, 140, 255, 0.42);
    /*-fx-border-color: rgba(10,10,10,0.75);*/
}

.vnode-connection {
    -fx-stroke: rgba(120,140,255,0.2);
    -fx-stroke-width: 5px;
}

.vnode-new-connection {
    -fx-stroke: rgba(120,140,255,0.2);
    -fx-stroke-width: 5px;
}

.window-titlebar {

    -fx-background-color: rgba(20,20,45,0.4);
    -fx-border-color: rgba(120,140,255,0.42);
    -fx-border-width: 0;
    -fx-padding: 6 4 3 4;
    -fx-background-insets: 2 2 -2 2;

    -fx-alignment: center;
    -fx-fill: rgba(255,255,255,50);
}











.root {
    -fx-font-family: "Roboto";
    -fx-font-smoothing-type: gray;
}

.toolbar-button{
	-fx-text-fill:WHITE;
	-fx-font-size:14.0px;
	-fx-background-color:#5264AE;
}

.toolbar-button-selected{
	-fx-fill:WHITE;
	-fx-background-color:#5264AE;
}



.side-menu {
    -fx-padding: 20.0, 10.0;
    -fx-font-size: 15.0;
    -fx-font-weight: NORMAL;
    -fx-text-fill: #444;
}


/*******************************************************************************
 *                                                                             *
 * JFX Drawer                                                                  *
 *                                                                             *
 ******************************************************************************/

.jfx-drawer-overlay-pane {
    -fx-background-color: rgba(0.0, 0.0, 0.0, 0.1)
}

.jfx-drawer-side-pane {
    -fx-background-color: WHITE;
}


/*******************************************************************************
*                                                                              *
* JFX Decorator                                                                *
*                                                                              *
*******************************************************************************/

.jfx-decorator {
    -fx-decorator-color: derive(#5264AE, -20.0%);
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0.0 4.0 4.0 4.0;
}

.jfx-decorator .jfx-decorator-title-container .jfx-decorator-text {
    -fx-fill: WHITE;
    -fx-font-size: 16.0;
}


/*******************************************************************************
*                                                                              *
* JFX Hamburger Icon                                                           *
*                                                                              *
*******************************************************************************/

.jfx-hamburger {
    -fx-padding: 10.0;
    -fx-spacing: 4.0px;
    -fx-cursor: hand;
}

.jfx-hamburger StackPane {
    -fx-pref-width: 30.0px;
    -fx-pref-height: 4.0px;
    -fx-background-color: #FFF;
    -fx-background-radius: 5.0px;
}

/*******************************************************************************
 *                                                                             *
 * JFX Tool Bar                                                                *
 *                                                                             *
 ******************************************************************************/

.jfx-tool-bar {
    -fx-font-size: 20.0;
    -fx-font-weight: BOLD;
    -fx-background-color: #5264AE;
    -fx-pref-width: 100.0%;
    -fx-pref-height: 64.0px;
}

.jfx-tool-bar HBox {
    -fx-alignment: center;
    -fx-spacing: 25.0;
    -fx-padding: 0.0 10.0;
}

.jfx-tool-bar Label {
    -fx-text-fill: WHITE;
}

.jfx-tool-bar .jfx-options-burger {
    -fx-padding: 22.0px;
}

.jfx-tool-bar .jfx-options-burger StackPane {
    -fx-pref-width: 4.0px;
}

.jfx-tool-bar .jfx-rippler {
    -jfx-rippler-fill: WHITE;
}

.option-list-view {
    -fx-pref-width: 160.0px;
    -fx-background-color: WHITE;
}

.option-jfx-list-view-icon {
    -fx-fill: #5264AE;
    -fx-padding: 0.0 10.0 0.0 5.0;
    -fx-cursor: hand;
}



/*******************************************************************************
*                                                                              *
* JFX List View                                                                *
*                                                                              *
*******************************************************************************/

.jfx-list-cell {
    -fx-background-insets: 0.0;
    -fx-text-fill: BLACK;
}

.jfx-list-cell:odd,
.jfx-list-cell:even {
    -fx-background-color: WHITE;
}

.jfx-list-cell:filled:hover,
.jfx-list-cell:selected .label {
    -fx-text-fill: black;
}

.jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: #5264AE;
}

.jfx-list-cell:odd:selected > .jfx-rippler > StackPane,
.jfx-list-cell:even:selected > .jfx-rippler > StackPane {
    -fx-background-color: rgba(0.0, 0.0, 255.0, 0.2);
}

.jfx-list-view {
    -fx-background-insets: 0.0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 5.0;
    -jfx-vertical-gap: 10.0;
    -jfx-expanded: false;
}

.custom-jfx-list-view .jfx-list-cell:odd:selected > .jfx-rippler > StackPane,
.custom-jfx-list-view .jfx-list-cell:even:selected > .jfx-rippler > StackPane {
    -fx-background-color: rgba(255, 0, 0, 0.2);
}

.custom-jfx-list-view {
    -fx-background-insets: 0.0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 5.0;
    -jfx-expanded: false;
    -fx-max-width: 200.0px;
    /* important to hide the list change of height */
    -fx-background-color: TRANSPARENT;
}

.custom-jfx-list-view .jfx-rippler {
    -jfx-rippler-fill: RED;
}

.custom-jfx-list-view1 {
    -jfx-vertical-gap: 10.0;
    -fx-pref-width: 150px;
    -fx-background-color: transparent;
}

.custom-jfx-list-view-icon,
.jfx-list-cell:selected .label .custom-jfx-list-view-icon {
    /*-fx-text-fill: #5264AE;*/
    -fx-fill: #5264AE;
    -fx-padding: 0.0 10.0 0.0 5.0;
    -fx-cursor: hand;
}

.custom-jfx-list-view-icon-container {
    -fx-pref-width: 40px;
}

.custom-jfx-list-view .sublist-item {
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1 0 1 0;
}

.custom-jfx-list-view .jfx-list-cell .sublist-header > .drop-icon {
    -fx-background-color: GRAY;
}

.custom-jfx-list-view .jfx-list-cell:filled:hover .sublist-header > .drop-icon {
    -fx-background-color: BLACK;
}

/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************
*                                                                              *
* JFX SUBLIST IMPORTANT                                                        *
*                                                                              *
*******************************************************************************/
.sublist .scroll-bar:vertical .increment-arrow,
.sublist .scroll-bar:vertical .decrement-arrow,
.sublist .scroll-bar:vertical .increment-button,
.sublist .scroll-bar:vertical .decrement-button {
    -fx-padding: 0;
}

.sublist .scroll-bar:vertical .track,
.sublist .scroll-bar:vertical .thumb {
    -fx-background-color: WHITE;
}

.sublist {
    -fx-background-color: TRANSPARENT;
}

.sublist .jfx-list-cell:odd:selected > .jfx-rippler > StackPane,
.sublist .jfx-list-cell:even:selected > .jfx-rippler > StackPane {
    -fx-background-color: rgba(255, 0, 0, 0.2);
}

.sublist .jfx-list-cell {
    -fx-background-insets: 0.0;
    -fx-text-fill: BLACK;
}

.sublist-header {
    -fx-alignment: center-left;
}

.sublist-header .sub-label {
    -fx-padding: 0 0 0 12;
}







.animated-option-button {
    -fx-background-color: #F1F1F1;
    -fx-background-radius: 50px;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;
}
.animated-option-button .jfx-rippler{
    -jfx-rippler-fill: rgb(113, 118, 114);
}
.sub-icon{
    -fx-fill: rgb(113, 118, 114);
}



.main-button {
    -fx-pref-width: 40px;
    -fx-background-color: #0F9D58;
    -fx-background-radius: 30px;
    -fx-pref-height: 40px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;
}
.main-button .jfx-rippler{
    -jfx-rippler-fill: rgba(255,255,255, .87);
}


.plus-icon{
    -fx-fill: rgba(255,255,255, .87);
}





